<div class="row">
  <div class="col-md-12">
    <div class="space"></div>
  </div>
</div>

      <a class="btn btn-primary" 
         ng-click="me.findPopular(); sort = '_matches.length'"
         >Popular</a>
      <a class="btn btn-primary" 
         ng-click="me.findMatches();"
         >Matches</a>
      <a class="btn btn-primary" 
         ng-click="me.getAll();"
         >Show All</a>

<div ng-repeat="member in me.members track by $index | orderBy: sort">
<div class="row">
  <div class="col-md-4 right-border center">
    <a href="/#/{{member._id}}">
    <img class="circle" src="{{member.avatar}}">
    <h4>{{member.username}}</h4></a>
  </div>

  <div class="col-md-8">
    <p>Hello</p>
  </div>

</div>  
</div>