/* bg image index */
.banner{
  height: 65vh;
  background-image: url(https://images.unsplash.com/photo-1415829027677-7d054bc19f97?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=167d0ec4ad98f19a54e604b6c719f46c);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom; 
}

/*flexbox*/
.flex{
  /* this is what is necessary */
  display: flex;
  height: 100vh;
}
.justFlex{
  display: flex;
}
.circle{
  border-radius: 50%;
}
.eighty {
  height: 80vh;
}
.box{
  width: 50%;
  /* this is what is necessary */
  margin: auto;
  color: white;
}
.space{
  height: 50px;
}
/* classes */
.footer{
  bottom: 0;
}
.center{
  text-align: center;
}
.pink{
  color: #FFC4EB;
}
.right-border{
  border-right: 1px solid black;
}
.padding-none{
  padding-right: 0 auto;
  padding-left: 0 auto; 
}
.pinkbg {
  background-color: #FFC4EB;
}